@model Web.Models.User.UserLoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(model => model.ReturnUrl)
            <div class="form-group">
                @Html.CheckBoxFor(model => model.IsPersistent)
                @Html.LabelFor(model => model.IsPersistent)
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
                @Html.ActionLink("Register", "Register", "User", null, new { @class = "btn btn-default" })
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
