@model Web.Models.Car.CarListViewModel

@{
    ViewData["Title"] = "Cars";
}

<h2>Cars</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.TotalItemCount > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Showroom
                </th>
                <th>
                    Brand
                </th>
                <th>
                    Model
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Showroom.Name</td>
                <td>@item.Brand</td>
                <td>@item.Model</td>
               

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            }
            <tr>
                <td colspan="5" align="left">
                    <pager list="@Model"
                           asp-controller="Car"
                           asp-action="Index" />
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    @Html.Partial("_GridNoData")
}